.section1-contribution {
  &__title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  &__dropdown {
    margin-bottom: 1em;

    &-select {
      padding: 0.5em;
      font-size: 1em;
    }
  }

  &__content {
    background-color: #f0f0f0; // Change this to your desired background color
    padding: 1em;
    border-radius: 5px;

    &--testimonies {
      display: block;
    }
  }

  &__subtitle {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  &__paragraphs {
    &__paragraph {
      margin-bottom: 1em;
      font-size: 1em;
      line-height: 1.5;
    }
  }

  &__images {
    display: grid;
    gap: 10px;

    .section1-contribution__image {
      width: 100%;
      height: auto;
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}
