.section1-contribution {
  &__title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  &__dropdown {
    margin-bottom: 1em;

    &-select {
      appearance: none;
      background-color: #f5f5f5;
      border: 1px solid #000000;
      padding: 0.5em;
      font-size: 1em;
      width: 200px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        width: 10px;
        height: 10px;
        background-image: url('../../assets/images/arrowdown.svg'); 
        background-size: contain;
        background-repeat: no-repeat;
      }

      &:focus {
        outline: none;
      }

      &-option {

      background-color: #fff;
      color: #000;
      padding: 0.5em;
      cursor: pointer;
      border: none;
      appearance: none;
      -webkit-appearance: none; 
      -moz-appearance: none;
      }
    }
  }

  &__content {
    background-color: #f5f5f5;
    padding: 1em;
    border-radius: 5px;

    &--testimonies {
      display: block;
    }
  }

  &__subtitle {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  &__paragraphs {
    margin: 15px;
  }

  &__paragraph {
    margin-bottom: 30px;
    font-size: 16px;
  }

  &__images {
    display: grid;
    gap: 10px;

    .section1-contribution__image {
      width: 100%;
      height: auto;
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}
