.section1-contribution {
  &__title {
    background-color: #E9F1FC;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 30px;
  }

  &__dropdown {
    margin-bottom: 1em;

    &-select {
      padding: 15px 20px;
      font-size: 1em;
      background-color: #F5F5F5;
    }
  }
  &__content {
    background-color: #F5F5F5;
    padding: 1em;
    border-radius: 5px;
  }
  &__subtitle {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    background-color: #F5F5F5;
  }

  &__paragraphs {
    padding: 15px;
    
    &__paragraph {
      margin-bottom: 1em;
      font-size: 1em;
      line-height: 1.5;

    }
  }
}
