
.bold {
  font-weight: bold;
}
.blue {
  color: #114DC6;
}


.information__paragraph {
  font-size: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.history__paragraph {
  margin-bottom: 20px;
  font-size: 16px;

}

.information-warning {
  margin: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 21px;
  background-color: #FCE9E9;
  padding: 20px;
  border: 0.5px solid #8D0000;
  box-shadow: 0 0 0 15px rgb(255, 255, 255), 0 0 0 16px #C40000;
}


.information-textbox {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F5F5F5;
  padding: 20px;
  font-size: 12px;
  border: 1px solid black;
  max-width: 500px;

  &__title {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
  }

  &__p {
    font-weight: bold;
    padding-bottom: 20px;
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__a {
    color: #114DC6;
    font-size: 16px;
    display: flex;
    justify-content: start;
    padding-top: 20px;
    padding-bottom: 20px;
    
  }
  &__img {
   display: block;
   margin: 0 auto;
   width: 80%;
    
  }
}






.information-otherlinks {
  background-color: #F5F5F5;
  border: 1px solid;
  padding: 30px;
  margin: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 500px;
     display: block;
    margin: 0 auto;

  &__list {
    padding: 0;
    padding-left: 20px;
  }

  &__link {
    font-size: 12px;
    display: block;
    color: #114DC6;
    padding: 10px;
   
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}



.information {

  &__title {
    background-color: #E9F1FC;
    padding: 10px;
    border: 1px solid black;
    max-width: 80vh;
    margin-bottom: 40px;
    font-size: 21px;
  }


  }

  .information-history{
 
    margin-top: 40px;
    margin-bottom: 100px;

    }
  




  .information-identity {
    border: 1px solid;
    padding: 30px;
    background-color: #F5F5F5;
    max-width: 500px;
    display: block;
    margin: 50px auto;
  
    &__title {
      text-align: center;
      font-size: 12px;
      margin-bottom: 20px;
    }
  
    &__list {
      list-style-type: none;
      padding: 0;
    }
  
    &__item {
      font-size: 12px;
      margin-bottom: 10px;
    }
  
    &__image {
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 2vw;
      padding-right: 2vw;
      max-width: 90%; 
      height: auto; 
      display: block;
    
    }
  }
  




.information-debunk {



  &__list {
    list-style-type: none;
    padding: 0;

    margin-top: 30px;
    margin-bottom: 60px;
    max-width: 500px;




  }
  
  &__item {
    margin-bottom: 40px;
    font-size: 16px;
 
  }
}







.information-links {
  margin-top: 60px;
  display: block;
  margin: 0 auto;
  
  &__item {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__link {
    font-size: 16px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #114DC6;
    text-decoration: underline;
  }

  &__list {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;



  }

  &__link + &__link {
    margin-top: 30px;
  }

  &__img {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    & img{
      width: 400px;
    }
  
  }


}





.information-otherlinks {

  margin-top: 50px;
  margin-bottom: 60px;

  &__link {
    font-size: 16px;

  }

  &__title {
    font-size: 20px;

  }


}
.information-identity {
  margin: 0 auto;
}

.information-identity__item {
font-size: 16px;
}

.information-identity__image {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}
















/* Medias */


@media only screen and (min-width: 1000px) {
  .information-history,
  .information-debunk,
  .information-warning,
  .information-title {
    font-size: 27px;
  }











  .informations {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto auto auto auto;
    gap: 0px 20px; 


  }
  .grid-case2 { grid-area: 1 / 1 / 3 / 2; }
  .grid-case3 { grid-area: 1 / 2 / 4 / 3; }
  .grid-case4 { grid-area: 3 / 1 / 4 / 2; }
  .grid-case5 { grid-area: 3 / 2 / 4 / 3; }
  .grid-case6 { grid-area: 4 / 1 / 5 / 2; }
  .grid-case7 { grid-area: 4 / 2 / 5 / 3; }
  .grid-case8 { grid-area: 5 / 1 / 6 / 2; }
  .grid-case9 { grid-area: 5 / 2 / 6 / 3; }
  .grid-case10 { grid-area: 6 / 1 / 7 / 2; }
  .grid-case11 { grid-area: 6 / 2 / 7 / 3; }


  .information-links {

    &__link {
      font-size: 27px;
  
    }
  

  }

  .information-identity__image {
    padding: 0;
    padding-bottom: 60px;
    padding-top: 0;
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

  .information__paragraph {
    font-size: 27px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  

  .history__paragraph {
    font-size: 20px;

  }
  


  .information__title {
    font-size: 27px;
  }

  
  .information-warning {
    margin-top: 80px;
    margin-bottom: 80px;

  }


  .information-debunk {
    &__list {
   
      display: block;
      margin: 50px auto;
  

    }
    
    &__item {
      font-size: 20px;
   
    }

  }
  




}


 
  
