

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(0, 0, 0);
    font-size: 28px; 
}

@media screen and (min-width: 1200px) {
    .nav {
        font-size: 63px;
    }
}

.nav__list {
    list-style: none;
    gap: 10px;
    display: flex;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
