

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(0, 0, 0);
    font-size: 28px; 
}

@media screen and (min-width: 1200px) {
    .nav {
        font-size: 63px;
    }
}

.nav__list {
    list-style: none;
    gap: 15px;
    display: flex;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    @media screen and (min-width: 400px) {
       
            font-size: 16px;
        
    }
}


.nav__title-link {
    text-decoration: none;
    color: #000000;
  
}





// Définition de la classe pour le span
.blue-underline {
    color: blue; // Couleur du texte en bleu
    text-decoration: underline; // Souligné
}
