.section1-report__text {
  margin-top: 10px;
  background-color: #F5F5F5;
  max-height: 400px; 
  overflow-y: auto; 
}

.report__title {
  background-color: #E9F1FC;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 30px;
}

.section1-report__content {
  padding: 10px;
  border-radius: 5px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
}

.section1-report__text-area {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
}

.section1-report__textarea {
  width: 500px;
  height: 400px; 
  resize: vertical;
}


.section1-report__paragraph {
  padding: 10px;
}


@media screen and (min-width: 768px) {
  .section1-report__content {
    flex-direction: row;
  }



  
}



@media screen and (max-width: 768px) {
  .section1-report__textarea {
    width: 350px;
  }
  
  
}




.section1-report__textarea::placeholder {
  color: #999; /* Couleur du texte */
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  font-size: 16px;
}


.section1-report__textarea:focus {
  padding: 20px; 
}







































.section4-clothes {
  .grid {
    background-color:  #F5F5F5;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    &__body-image {
      display: block;
      margin:0 auto;
      width: 200px;
    }

    &__item {
     
      padding: 10px;

      &-title {
        display: flex;
        margin-bottom: 10px;
      }

      &-image {
        border: 1px solid black;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        transition: transform 0.3s ease;
        opacity: 0;
        display: block;
        margin: 0 auto; /* Centrer les images horizontalement */


        &.active {
          opacity: 1;
        }
        
      }

      &-images {
        display: flex;
        justify-content: center; /* Centrer les images horizontalement */
        overflow: hidden;
      }
      
      &-arrows {
        display: flex;
        justify-content: space-between;
      }
    }

    &__arrow {
      width: 50px;
      height: 50px;
    }

    &__item--body {
      grid-column: span 2;

      @media screen and (min-width: 768px) {
        grid-column: span 1;
        grid-row: span 4;
      }
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}



.slider__image {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  transition: opacity 0.3s ease; /* Ajout de la transition pour une animation en douceur */
}

.slider__image.active {
  display: block;
  z-index: 1; /* Mettre l'image active au premier plan */
}






.section2-paint {
  &.paint {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px; /* Espacement entre les colonnes */
    background-color: #F5F5F5; 
    padding: 20px; 


    .paint__canvas {
      margin-bottom: 20px;
      background-color: #ffffff; 
    }

    .controls {
      display: flex;
      flex-direction: column;

      &__radio,
      &__color-picker,
      &__size-slider {
        margin-bottom: 20px;
      }
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr; 
    }
  }
}

.controls__clear-button {
  width: 100px;

     
}

















.section2-paintbis {
  padding-bottom: 100px;


.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center; /* Pour centrer horizontalement */
  align-items: center; /* Pour centrer verticalement */


  &__image {
    display: none;
    position: absolute;
    top: 50%; /* Ajout pour centrer verticalement */
    left: 50%; /* Ajout pour centrer horizontalement */
    transform: translate(-50%, -50%); /* Ajout pour centrer l'image */
    max-width: 300px; /* Limite de largeur */
    max-height: 300px; /* Limite de hauteur */
    width: auto; /* Ajustement automatique de la largeur */
    height: auto; /* Ajustement automatique de la hauteur */
  }

  &__btn {
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background-color: #F5F5F5;
    cursor: pointer;
    z-index: 1;

    &--prev {
      left: 30%;
    }

    &--next {
      right: 30%;
    }
  }
}

}












