@import 'utils/variables';
@import 'components/page';
@import 'components/pageannexe';
@import 'components/navbar';
@import 'components/informations';
@import 'components/report';
@import 'components/about_us';
@import 'components/contributions';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    margin: 5vw;
    margin-top: 0%;
}

footer{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
